body {
    background-color: rgb(57, 146, 182);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-left: 50px;
}

.row {
    padding: 20px;
}

#response {
    background-color: #ffc85e;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

img {
    height: 350px;
    width: auto;
    padding: 30px;
}

label {
    font-size: 24px;
}