body {
    background-color: rgb(57, 146, 182);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-left: 50px;
}

img {
    height: 350px;
    width: auto;
    padding: 30px;
}